.orders {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-left: 22%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  
  .orders h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .order-list {
    margin-bottom: 20px;
  }
  
  .order-card {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .order-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  .order-header {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .status {
    font-weight: bold;
    color: #28a745;
  }
  
  .order-card button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-card button:hover {
    opacity: 0.8;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .orders {
      padding: 15px;
    }
  
    .order-card {
      padding: 10px;
    }
  }